.cardSection {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 4vmin; 
  margin-top: 3vmin; 
}

.blurBackground {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  overflow: hidden;
}

.footer {
  align-self: end;
  display: flex;
  flex-direction: row;
  margin-top: 40vmin; 
}

.page {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.page > .cardSection {
  margin-left: 60vmin;
}