.modal {
    position: fixed;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20vmin; 
    width: 100vmin;
    height: 50vmin;
    border-radius: 2vmin;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.modal > * {
    margin-left: 5vmin;
}

.modalDescription {
    margin-top: 5vmin;
}

.modalButton {
    width: 8vmin;
    height: 5vmin;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow:  rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    cursor: pointer;
}

.modalButton > p {
    font-size: 15px;
}