.card {
    width: 50vmin;
    height: 16vmin;
    border-radius: 3vmin;
    background-color: rgb(179, 169, 169);
    transition: 0.3s;
}

.inside {
    margin: 2vmin;
}

.card:hover {
    background-color: rgb(234, 228, 228);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}